<html>
    
    <head>
    
      <meta charset="utf-8">
    
      <title>Pre-employment Training &mdash; Mocha Tests</title>
    
      <link href="../../node_modules/mocha/mocha.css" rel="stylesheet" />
    
    </head>
    
    <body>
    
      <div id="mocha"></div>
    
      <!-- Dependencies go here: -->
    
      <!-- <script src="../login.js"></script> -->
    
      <script src="../../node_modules/chai/chai.js"></script>
      <script src="../../node_modules/mocha/mocha.js"></script>
    
      <script>mocha.setup('bdd')</script>
      <!--<script src="../src/views/renderPages.js" type="text/javascript"></script> -->

      <script src="../src/events/helper/helper.js" type="text/javascript"></script>
      <!-- <script src="../src/events/login/login.js" type="text/javascript"></script> -->
      <!-- <script src="../src/events/evaluations/evaluations.js" type="text/javascript"></script>
      <script src="../src/events/new-evaluation/new-evaluation.js" type="text/javascript"></script>
      <script src="../src/events/details/details.js" type="text/javascript"></script> -->
      <script src="../src/events/common/common.js" type="text/javascript"></script>
    
      <!-- Data -->
      <!-- <script src="../src/data/data.js" type="text/javascript"></script> -->
      <!-- Views -->
      
      <!-- <script src="../src/views/common/common.js" type="text/javascript"></script> -->
      <!-- <script src="../src/views/login/login.js" type="text/javascript"></script>
      <script src="../src/views/evaluations/evaluations.js" type="text/javascript"></script>
    
      <script src="../src/views/new-evaluation/newevaluation.js" type="text/javascript"></script>
    
      <script src="../src/views/details/details.js" type="text/javascript"></script> -->

     
      <!-- <script src="../src/views/index/index.js"></script>    -->
      <script src="./index.js"></script>  
           
    
      <script>
    
        mocha.run();
    
      </script>
    
      <footer>
    
        Copyright &copy; Softvision &mdash; JS Pre-employment Training, Cluj, 2017
    
      </footer>
    
    </body>
    
    </html>